*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer{
    background: #343a40;
  }
  
  .text-footer p{
    color: rgb(173, 172, 172);
    margin-bottom: 0px;
  }
  
  .text-footer p a{
    text-decoration: none;
    color: WHITE;
  }
  
  .text-footer h5{
    color:rgba(219,144,1,1)
  }
  
  .icons i{
    padding: 3%;
    font-size: 40px;
  }
